.section_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    border: 1px solid black
}

.text, .icon {
    padding: 10px;
    }

    .text p:first-child {
        cursor: pointer;
        margin-bottom: 10px;
    }

.icon {
    cursor: pointer;
}

.text {
    text-align: center;
}

